<label>Score filter :
  <input #score/>
  <br/>
</label>

<button (click)="filterProblems(score.value)">
  Filter
</button>

<ol class="problems">
  <li *ngFor="let problem of problems ">
    {{problem.id}}
    {{problem.description}}
    {{problem.score}}
  </li>
</ol>


<button (click)="filterProblemsWithAngular(score.value)">
  Filter special
</button>

<ol class="problems">
  <li *ngFor="let problem of problemsWithAngular">
    {{problem.id}}
    {{problem.description}}
    {{problem.score}}
  </li>
</ol>
